DOCKER_PROJECT_NAME=esepteu

APP_NAME="Esepteu"
APP_ENV=local
APP_DEBUG=true
APP_PORT=8700
APP_URL=http://localhost:8700

DB_CONNECTION=mysql
DB_DATABASE=esepteu_db
DB_USERNAME=esepteu_user
DB_PASSWORD=esepteu_pass
DB_ROOT_PASSWORD=root
FORWARD_DB_PORT=3376
MARIADB_TEST_DATABASE=esepteu_db_testing

CACHE_STORE=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_CLIENT=phpredis

VITE_PORT=5774
VITE_HMR_HOST=localhost

RUN_MIGRATIONS=1
